<%= video_tag('back.mp4', controls: false, autoplay: true, loop: true, id: 'bgvid') %>
<div class="text-center overlay description">
  <h1>あなたの赤ちゃん見守ります</h1>
  <div class="main-content">
    <p>育児で赤ちゃんをずっと見守るのは疲れますよね</p>
    <p>でも、安心してください</p>
    <p>これからは私達が見守ります</p>
  </div>
</div>